*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  color: #384047;
  background: #e3e3e3;
}

form {
  max-width: 300px;
  margin: auto;
  border-top: 2px solid black;
}

h1 {
  width: 300px;
  display: block;
  margin: auto;
  background-color: #384047;
  padding: 1em 0;
  font-size: 1.1em;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 1.1em;
}

p {
  color: #8a97a0;
  text-align: center;
  padding-bottom: 1em;
  font-size: 0.875em;
}

legend {
  font-size: 1.3em;
  font-weight: bold;
  padding: 1em 0 1em;
}

label {
  padding-bottom: 1em;
  padding-top: 7px;
  color: #8a97a0;
  font-size: 0.875em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 0.875em;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 1em;
  border-radius: 3px;
  transition-property: border, background-color;
  transition-duration: .35s;
  transition-timing-function: ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
    background-color: rgba(191, 239, 237, 0.6);
    border: 2px solid rgba(42, 167, 151, 0.77);
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0 1em 1em 0;
}

input[id="name"]::placeholder,
input[id="email"]::placeholder {
  text-align: right;
  font-size: 0.7em;
  font-style: italic;
  padding: 2px 3px 10px;
  color: #687885;
}

input[id="news_js"],
input[id="plain_text"] {
  margin-bottom: 2em;
}

input::placeholder {
  text-align: left;
  font-size: 0.7em;
  padding: 3px 2px 10px;
  color: #a8b7c1;
}

fieldset div {
  padding-bottom: 1em;
  color: #8a97a0;
  font-size: 0.875em;
}

button {
  display: block;
  width: 100%;
  height: 3em;
  margin:auto;
  border-radius: 3px;
  background-color: #04b8b8;
  color: #ffffff;
  border: 0;
  font-weight: 700;
  font-size: 1.2em;
}

footer {
  font-style: italic;
}

.header {
  width: 300px;
  margin: auto;
  padding: 0.5em 1em;
  background-color: rgba(191, 239, 237, 0.6);
  text-align: center;
  border-bottom: 3px solid black;
}

.container {
  width: 300px;
  margin: auto;
  padding: 0.2em 1em;
  background-color: #ffffff;
}

.col-2 {
  width: 100%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



/* Media queries for Tablet & Desktop -------------------*/

@media only screen and (min-width: 768px) {

h1,
.container,
.header {
  width: 768px;
}

form,
header {
  max-width: 500px;
}

textarea
{
  width: 100%;
  margin-top: 1em;
}

.col-1,
.col-2 {
  float:left;
}

.col-1 {
  width: 25%;
}

.col-2 {
  width: 75%;
}

}